#game-code-heading {
    display: none;
}

/* animate three dots after #waiting-for-oppopnent-heading appearing in sequence and vanishing again */

#waiting-for-oppopnent-heading {
    margin-bottom: 2vh;
}

#waiting-for-oppopnent-heading::after {
    content: '';
    animation: dots 2s infinite;
    position: absolute;
}

@keyframes dots {
    0% {
        content: '';
    }

    25% {
        content: '.';
    }

    50% {
        content: '..';
    }

    75% {
        content: '...';
    }
}